@import 'tailwindcss';

:root {
  --background: #e8e8e6;
  --foreground: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-carbon: #262626;
  --color-brick: #c2c4c3;
  --color-brick-light: #e8e8e6;
  --color-sand: #ffd9a0;
  --color-sand-light: #fff5e6;
  --color-paprika: #e66a32;
  --color-saffron: #ff8c42;
  --color-danger: #c0564b;
  --color-danger-light: #f5e1df;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --foreground: #e8e8e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
